<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body>
<div th:replace="fragments::menuBar"></div>
<div class="container-fluid">
  <h1>ToDoList-equipo-7</h1>
  <ul>
    <li>Desarrollado por Cristian Andrés Córdoba Silvestre, Gonzalo Martín Zapata López y Daniel Ripoll Sánchez</li>
    <li>Versión 1.3.0</li>
    <li>Fecha de release: 26-11-2024</li>
  </ul>
</div>

<div th:replace="fragments::javascript"/>
</body>
</html>
<!-- CREANDO UN CONFLICTO by GON-->
<!-- Creando conflicto -->
<!-- CREANDO CONFLICTO DE MERGE DE RAMAS-->
