<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Cuenta')"></head>

<body>
<div th:replace="fragments::menuBar"></div>
<div class="container-fluid">
  <h2>Información general:</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Nacimiento</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td th:text="${usuario.nombre}"></td>
        <td  th:text="${usuario.email}"></td>
        <td  th:text="${usuario.fechaNacimiento}"></td>
      </tr>
    </tbody>
  </table>

  <h2>Seguridad:</h2>
  <form th:action="@{/logeados/cuenta/{id}/cambiarcontrasena(id=${usuario.id})}" method="post" class="col-sm-2 px-0">
    <div class="form-group">
      <label th:for="contrasena"> Cambiar contraseña: </label>
      <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Tu nueva contraseña" required>
    </div>
    <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
  </form>

  <form th:action="@{/logeados/cuenta/{id}/cambiarnombre(id=${usuario.id})}" method="post" class="col-sm-2 px-0">
    <div class="form-group">
      <label th:for="nombre"> Cambiar nombre: </label>
      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Tu nuevo nombre" required>
    </div>
    <button type="submit" class="btn btn-primary">Cambiar nombre</button>
  </form>

</div>

<div th:replace="fragments::javascript"/>
</body>
</html>
