<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Nuevo Equipo')"></head>

<body>
<div th:replace="fragments::menuBar"></div>
<div class="container-fluid">

    <h2>Nuevo Equipo</h2>

    <form method="post" th:action="@{/logeados/equipos/nuevo-equipo}" th:object="${equipoData}">
        <div class="col-6">
            <div class="form-group">
                <label for="nombre">Nombre del equipo:</label>
                <input class="form-control" id="nombre" name="nombre" required th:field="*{nombre}" type="text"/>
            </div>
            <div class="form-group">
                <label for="tipo">Tipo del equipo:</label>
                <input class="form-control" id="tipo" name="tipo" required th:field="*{tipo}" type="text"/>
            </div>
            <button class="btn btn-primary" type="submit">Crear Equipo</button>
            <a class="btn btn-link" th:href="@{/logeados/equipos}">Cancelar</a>
        </div>
    </form>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>
