<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Pagos del Comercio</title>

  <div th:include="fragments :: head (titulo='Pagos del Comercio')"></div>

  <link rel="stylesheet" th:href="@{/css/custom/listadoPagosComercioStyle.css}">
</head>
<body class="body-background">
<div th:replace="fragments::menuBar"></div>
<div class="container">
  <h1 class="title">Pagos del Comercio</h1>
  <form class="busqueda">
    <label>Id</label>
    <label>Ticket</label>
    <label>Estados</label>
    <label>Fecha Desde</label>
    <label>Fecha Hasta</label>
    <label></label>
    <input type="text" class="search-input">
    <input type="text" class="search-input">
    <select class="search-select">
      <option selected>Todos</option>
      <option>Aceptado</option>
      <option>Pendiente</option>
      <option>Rechazado</option>
    </select>
    <input type="date" class="search-input">
    <input type="date" class="search-input">
    <button type="submit">Aplicar filtros</button>
  </form>

  <div class="table-container">
    <table class="data-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Fecha</th>
        <th>Ticket</th>
        <th>Importe</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>00000000001</td>
        <td>10/07/2024 16:44</td>
        <td>TICKET-XXX</td>
        <td>314.999€</td>
        <td class="status-active">Aceptado</td>
        <td><a href="" class="btn btn-info">Detalles</a> </td>
      </tr>
      <tr>
        <td>00000000002</td>
        <td>11/08/2024 18:21</td>
        <td>TICKET-YYY</td>
        <td>12.99€</td>
        <td class="status-pending">Pendiente</td>
        <td><a href="" class="btn btn-info">Detalles</a> </td>
      </tr>
      <tr>
        <td>00000000003</td>
        <td>12/00/2024 13:56</td>
        <td>TICKET-ZZZ</td>
        <td>9.49€</td>
        <td class="status-inactive">Rechazado</td>
        <td><a href="" class="btn btn-info">Detalles</a> </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div th:replace="fragments::javascript"></div>
</body>
</html>