<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Lista de Tareas')"></head>

<body>
<div th:replace="fragments::menuBar"></div>
<div class="container mt-4">
    <h2>Lista de Tareas</h2>

    <!-- Flash Messages -->
    <div th:if="${mensaje}" class="alert alert-success" role="alert">
        <span th:text="${mensaje}"></span>
    </div>

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Número de Horas</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tarea : ${tareas}">
            <td th:text="${tarea.id}"></td>
            <td th:text="${tarea.titulo}"></td>
            <td th:text="${tarea.hours}"></td>
            <td>
                <!-- Edit Button -->
                <a th:href="@{'/tareas/' + ${tarea.id} + '/editar'}" class="btn btn-primary btn-sm">Editar</a>

                <!-- Delete Form -->
                <form th:action="@{'/tareas/' + ${tarea.id} + '/borrar'}" method="post" style="display:inline;">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <button type="submit" class="btn btn-danger btn-sm"
                            onclick="return confirm('¿Estás seguro de que quieres borrar esta tarea?');">
                        Borrar
                    </button>
                </form>
                <a th:href="@{'/tareas/' + ${tarea.id} + '/asignarHoras'}" class="btn btn-primary btn-sm"
                   style="background-color: darkblue; border-color: darkblue;">Asignar Horas</a>

                <form th:action="@{'/tareas/' + ${tarea.id} + '/incrementarHoras'}" method="post" style="display:inline;">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <button type="submit" class="btn btn-danger btn-sm"  style="background-color: purple; border-color: purple;">
                        Incrementar Una Hora
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Link to Create New Task -->
    <a th:href="@{'/usuarios/' + ${usuario.id} + '/tareas/nueva'}" class="btn btn-success">Nueva Tarea</a>
    <span>Promedio de las horas de todas las tareas: </span>
    <span th:text="${usuario.promedioTareas}"> </span>

</div>

<div th:replace="fragments::javascript"></div>
</body>
</html>
